<h2>Paises</h2>
<hr>

<ul class="list-group">

    <li 
        class="list-group-item" 
        routerLink="countries/by-capital" 
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
        Por Capital
    </li>

    <li 
        class="list-group-item" 
        routerLink="countries/by-country" 
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
        Por Pais
    </li>

    <li 
        class="list-group-item" 
        routerLink="countries/by-region" 
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
        Por Region
    </li> 
</ul>
