<div class="center-xs mt-4" *ngIf="countries.length === 0; else table">
    <img src="assets/images/no_data.jpg" alt="" width="550">
    <h3>No hay pases que mostrar</h3>
</div>

<ng-template #table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Bandera</th>
                <th>Pais</th>
                <th>Capital</th>
                <th>Población</th>
                <th><b><i class="bi bi-info-circle" style="font-size: 18px;"></i></b></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ country.flag }}</td>
                <td>
                    <img [src]=" country.flags.svg " class="imgFlag" [alt]="country.name.common">
                </td>
                <td>{{ country.name.common }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.population | number }}</td>
                <td>
                    <a [routerLink]="[ '/countries/by/', country.cca3 ]">Ver mas</a>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
